---
    export interface Props {
        mainImageAlt?: string;
        quote: string;
        authorInformation: string;
        authorDescription: string;
        page:string;
    }

    const { imageAlt = " ", quote, authorInformation, authorDescription, page } = Astro.props;
---

<section class={`testimonial testimonial--${page}`}>
    <picture class="testimonial__shape-container">
        <source media="(min-width: 1024px)" srcset={`/assets/images/${page}/testimonial/testimonial-shape-desktop.svg`}>
        <img class="testimonial__shape" src={`/assets/images/${page}/testimonial/testimonial-shape-mobile.svg`} alt=" ">
    </picture>
    <figure class="testimonial__image-container">
        <img src={`/assets/images/${page}/testimonial/testimonial.png`} alt={mainImageAlt} class="testimonial__image">
    </figure>
    <article class="testimonial__content">
        <blockquote class="testimonial__quote"><p>{quote}</p></blockquote>
        <p class="testimonial__author">{authorInformation}</p>
        <p class="testimonial__author-description">{authorDescription}</p>
    </article>
</section>