---
import PageHero from "../../components/PageHero.astro";
import Layout from "../../layouts/Layout.astro";
import CTA from "../../components/CTA.astro";
import InternalNavigation from "../../components/InternalNavigation.astro";
import HighlightInformation from "../../components/HighlightInformation.astro";
import CustomTitle from "../../components/CustomTitle.astro";
import Table from "../../components/Table/Table.astro";
import TableHeader from "../../components/Table/TableHeader.astro";
import TableData from "../../components/Table/TableData.astro";

const internalNavLinks = [
  {
    href: "#adults-changes-in-substractes",
    label: "Changes in substrates",
    active: true,
  },
  { href: "#adults-mobility", label: "Mobility" },
  {
    href: "#adults-time-to-bone-mineralization",
    label: "Time to bone mineralization",
  },
  { href: "#adults-real-world-outcomes", label: "Real-world outcomes" },
];

//Table headers - Real-world outcomes
const mainHeaders = [
  { label: "" },
  { label: "EmPATHYa", subLabel: "ENB-002-08/ ENB-003-08" },
];

import Data from "./data/realWorld.js";
---

<Layout title="Adults" displayReferences={false}>
  <PageHero pageId="clinical-data" classNames="clinical-data-adults__page-hero">
    <h2 class="page-hero__subtitle">
      for adults with pediatric-onset hypophosphatasia
    </h2>
    <h1 class="page-hero__title">See STRENSIQ results</h1>
  </PageHero>
  <InternalNavigation heading="Adults" items={internalNavLinks} icon={true} />
  <div class="wrapper">
    <section
      id="adults-changes-in-substractes"
      class="section clinical-data-adults--changes-in-substractes"
    >
      <div class="clinical-data-adults--col">
        <h2 class="clinical-data-adults--title clinical-data-adults--title1">
          Change in inorganic pyrophosphate (PPi), a known inhibitor of bone
          mineralization
        </h2>

        <div
          class="wrapper clinical-data-adults--content clinical-data-adults--content1 desktop--only"
        >
          <h3 class="clinical-data-adults--subtitle">Limitations:</h3>
          <ul class="clinical-data-adults--list">
            <li>
              One of the coprimary endpoints of this study, change in PPi at 6
              months, did not reach statistical significance when comparing the
              control group to the treatment group. For the total cohort,
              within-subject changes in both pyridoxal 5’-phosphate (PLP) and
              PPi were observed after 6 months and over 5 years of treatment
            </li>
            <li>
              The control group began treatment 6 months after the treated
              group, with baseline considered the last assessment before first
              dose
            </li>
          </ul>
        </div>
      </div>

      <div class="clinical-data-adults--col">
        <picture>
          <source
            srcset="/assets/images/clinical-data/adults/Median_PPi_Adults.svg"
            media="(min-width: 700px)"
          />
          <img
            class="clinical-data-adults--img clinical-data-adults--img1"
            src="/assets/images/clinical-data/adults/Median_PPi_Adults_Mobile.svg"
            alt="PPI Adults"
          />
        </picture>
      </div>

      <div class="clinical-data-adults--col">
        <h2 class="clinical-data-adults--title clinical-data-adults--title2">
          Change in pyridoxal 5’-phosphate (PLP), the active form of vitamin B6
        </h2>
        <div
          class="wrapper clinical-data-adults--content clinical-data-adults--content2 desktop--only"
        >
          <ul class="clinical-data-adults--list">
            <li>
              Change in PPi and PLP data are from the open-label extension phase
              of the study, which included 19 adult and adolescent patients
              <ul class="clinical-data-adults--sublist">
                <li>
                  Of the 13 adult patients, 12 had pediatric-onset
                  hypophosphatasia
                </li>
                <li>
                  Three adults were part of the untreated group during the
                  primary phase
                </li>
              </ul>
            </li>
            <li>
              Over the initial duration, the study used lower doses of STRENSIQ
              than those in the current FDA-approved label
            </li>
            <li>
              The most common adverse events reported in the adult population of
              Study 4 were injection site reactions, similar to what was
              observed in clinical trials
            </li>
          </ul>
        </div>
      </div>

      <div class="clinical-data-adults--col">
        <picture>
          <source
            srcset="/assets/images/clinical-data/adults/Median_PLP_Adults.svg"
            media="(min-width: 700px)"
          />
          <img
            class="clinical-data-adults--img clinical-data-adults--img2"
            src="/assets/images/clinical-data/adults/Median_PLP_Adults_Mobile.svg"
            alt="PLP Adults"
          />
        </picture>
      </div>

      <div
        class="wrapper clinical-data-adults--content clinical-data-adults--content1 mobile--only"
      >
        <h3 class="clinical-data-adults--subtitle">Limitations:</h3>
        <ul class="clinical-data-adults--list">
          <li>
            One of the coprimary endpoints of this study, change in PPi at 6
            months, did not reach statistical significance when comparing the
            control group to the treatment group. For the total cohort,
            within-subject changes in both pyridoxal 5’-phosphate (PLP) and PPi
            were observed after 6 months and over 5 years of treatment
          </li>
          <li>
            The control group began treatment 6 months after the treated group,
            with baseline considered the last assessment before first dose
          </li>
        </ul>
      </div>

      <div
        class="wrapper clinical-data-adults--content clinical-data-adults--content2 mobile--only"
      >
        <ul class="clinical-data-adults--list">
          <li>
            Change in PPi and PLP data are from the open-label extension phase
            of the study, which included 19 adult and adolescent patients
            <ul class="clinical-data-adults--sublist">
              <li>
                Of the 13 adult patients, 12 had pediatric-onset
                hypophosphatasia
              </li>
              <li>
                Three adults were part of the untreated group during the primary
                phase
              </li>
            </ul>
          </li>
          <li>
            Over the initial duration, the study used lower doses of STRENSIQ
            than those in the current FDA-approved label
          </li>
          <li>
            The most common adverse events reported in the adult population of
            Study 4 were injection site reactions, similar to what was observed
            in clinical trials
          </li>
        </ul>
      </div>
    </section>
  </div>

  <section id="adults-mobility" class="section clinical-data-adults-mobility">
    <div class="wrapper--desktop-only clinical-data-adults__content">
      <div class="clinical-data-adults--col">
        <!-- Title, Highlight Info, Paragraph -->
        <div class="wrapper">
          <h2 class="clinical-data-adults--title">
            Mobility: 6-minute walk test (6MWT)
          </h2>

          <div class="clinical-data-adults__content--highlightinformation">
            <HighlightInformation
              title="PATIENTS WALKED A MEDIAN (MIN, MAX) OF"
              footnote="(13,540 at baseline (n=12)"
            >
              <span slot="content">
                324.5
                <span
                  class="clinical-data-adults__content--highlightinformation-span"
                  >meters</span
                >
              </span>
            </HighlightInformation>

            <div
              class="clinical-data-adults__content--highlightinformation-no-border"
            >
              <HighlightInformation footnote="(13,540) at 5 years (n=10)">
                <span slot="content"
                  >429.5 <span
                    class="clinical-data-adults__content--highlightinformation-span"
                    >meters</span
                  ></span
                >
              </HighlightInformation>
            </div>
          </div>

          <p class="clinical-data-adults__content--paragraph">
            For adult patients with hypophosphatasia, the minimal clinically
            important difference (MCID) is estimated at 23 meters and31 meters
            based on 2 distribution-based methods.
          </p>
        </div>
      </div>

      <div class="clinical-data-adults--col">
        <!-- <img
          src="/assets/images/clinical-data/adults/Subtract.svg"
          alt="Rect"
        /> -->
        <!-- Video FPO -->
        <div class="clinical-data-adults__video">
          <h3 class="clinical-data-adults__video--title">
            See 6-minute walk test outcomes
          </h3>

          <picture>
            <source
              srcset="/assets/images/clinical-data/adults/video-player-fpo.svg"
              media="(min-width: 700px)"
            />
            <img
              class="clinical-data-adults--img clinical-data-adults--img-video"
              src="/assets/images/clinical-data/adults/video-player-fpo_mobile.svg"
              alt="Video player"
            />
          </picture>
        </div>
      </div>

      <div class="clinical-data-adults--col clinical-data-adults--col-mobility">
        <ul
          class="wrapper clinical-data-adults--list clinical-data-adults--list-mobility desktop--only"
        >
          <li>
            These results represent adults with pediatric-onset hypophosphatasia
            with available 6MWT data. Inferences regarding clinical benefit
            should not be made
          </li>
          <li>
            One of the coprimary endpoints of this study, change in PPi at 6
            months for the entire study population, did not reach statistical
            significance
          </li>
        </ul>
      </div>

      <div class="clinical-data-adults--col clinical-data-adults--col-mobility">
        <!-- Title -->
        <CustomTitle>
          Age- and sex-adjusted ALP reference ranges for children (U/L)
        </CustomTitle>
        <!-- Graph -->
        <div class="wrapper">
          <picture>
            <source
              srcset="/assets/images/clinical-data/adults/6MWT_Adults.svg"
              media="(min-width: 700px)"
            />
            <img
              class="clinical-data-adults--img clinical-data-adults--img-6MWT"
              src="/assets/images/clinical-data/adults/6MWT_Adults_Mobile.svg"
              alt="PLP Adults"
            />
          </picture>

          <ul
            class="clinical-data-adults--list clinical-data-adults--list-mobility mobile--only"
          >
            <li>
              These results represent adults with pediatric-onset
              hypophosphatasia with available 6MWT data. Inferences regarding
              clinical benefit should not be made
            </li>
            <li>
              One of the coprimary endpoints of this study, change in PPi at 6
              months for the entire study population, did not reach statistical
              significance
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="wrapper">
    <section
      id="adults-time-to-bone-mineralization"
      class="section clinical-data-adults--time-to-bone-mineralization"
    >
      <div
        class="clinical-data-adults--col clinical-data-adults--time-to-bone-mineralization--content"
      >
        <h2 class="clinical-data-adults--title">Time to bone mineralization</h2>
        <div class="wrapper clinical-data-adults--content">
          <ul class="clinical-data-adults--list">
            <li>
              Reductions in mineralization lag time indicate improvedbone
              mineralization
              <ul class="clinical-data-adults--sublist">
                <li>
                  Mineralization lag time was assessed by bone biopsy at
                  baseline and at 1 year in patients receiving STRENSIQ
                </li>
              </ul>
            </li>
          </ul>
          <p class="clinical-data-adults--paragraph">
            6MWT and bone mineralization data are from the open-label extension
            phase of the study, which included 19 adult and adolescent patients.
            Of the 13 adult patients, 12 had pediatric-onset hypophosphatasia.
            Three adults were part of the untreated group during the primary
            phase. Over the initial duration, the study used lower doses of
            STRENSIQ than those in the current FDA-approved label.
          </p>
        </div>
      </div>

      <div class="clinical-data-adults--col">
        <picture>
          <source
            srcset="/assets/images/clinical-data/adults/Bone_Mineralization_Adults.svg"
            media="(min-width: 700px)"
          />
          <img
            class="clinical-data-adults--img"
            src="/assets/images/clinical-data/adults/Bone_Mineralization_Adults_Mobile.svg"
            alt="Mineralization Lag Time Adults"
          />
        </picture>
      </div>
    </section>
  </div>

  <section
    id="adults-real-world-outcomes"
    class="wrapper section clinical-data-adults--real-world-outcomes"
  >
    <h2 class="clinical-data-adults--title">
      Real-world outcomes in adults with pediatric-onset hypophosphatasia
    </h2>

    <Table>
      <TableHeader slot="header" mainHeaders={mainHeaders} />
      <TableData slot="body" data={Data} />
    </Table>
  </section>

  <CTA
    heading="Get the blueprint for STRENSIQ dosing"
    linkText="Dosing"
    linkUrl="/dosing"
  />
</Layout>
