---
import PageHero from "../../components/PageHero.astro";
import Layout from "../../layouts/Layout.astro";
import CTA from "../../components/CTA.astro";
import References from "../../components/References.astro";
import InternalNavigation from "../../components/InternalNavigation.astro";
const internalNavLinks = [
  { href: "study-design", label: "Study design", active: true },
  { href: "safety", label: "Safety" },
];
import Table from "../../components/Table/Table.astro";
import TableHeader from "../../components/Table/TableHeader.astro";
import TableData from "../../components/Table/TableData.astro";

//Table headers
const mainHeaders = [
  { label: "" },
  { label: "Perinatal/Infantile-onset HPP", colspan: 3 },
  { label: "Juvenile-onset HPP" },
];
const subHeaders = [
  {
    label: "Adverse Reaction Category or Team",
    classModifier: "cg",
  },
  {
    label: "STRENSIQ ≤6 mg/kg per week (N=66)n(%)",
    classModifier: "nb",
  },
  {
    label: "STRENSIQ > 6 mg/kg per weeka (N=13)n(%)",
    classModifier: "nb",
  },
  { label: "TOTAL (N=79)n(%)", classModifier: "nb" },
  { label: "STRENSIQ (N=20)n(%)" },
];

//Table data
import data from "./data/safety";
import studyData from "./data/study";
---

<Layout title="Overview">
  <PageHero
    pageId="clinical-data"
    classNames="clinical-data-overview__page-hero"
  >
    <h2 class="page-hero__subtitle">To treat hypophosphatasia</h2>
    <h1 class="page-hero__title">
      Get straight to the<br /> source with STRENSIQ
    </h1>
  </PageHero>
  {
    internalNavLinks && (
      <InternalNavigation
        items={internalNavLinks}
        heading="Overview"
        icon={false}
      />
    )
  }

  <section class="wrapper">
    <h2 id="study-design">Study design</h2>
    <div class="clinical-data-overview__study-design">
      <div class="clinical-data-overview__study-design__table">
        <Table>
          <div slot="title" class="table__title">
            <div class="table__title--sections">
              <div class="table__title--section">
                <h3>Study 1</h3>
                <p>ENB-002-08/ENB-003-08</p>
              </div>

              <div class="table__title--section">
                <h3>Study 2</h3>
                <p>ENB-010-10</p>
              </div>

              <div class="table__title--section">
                <h3>Study 3</h3>
                <p>ENB-006-09/ENB-008-10</p>
              </div>

              <div class="table__title--section">
                <h3>Study 4</h3>
              </div>
            </div>
          </div>
          <TableHeader slot="header" />
          <TableData slot="body" data={studyData} />
          <div slot="footer" class="table__footer">
            <span
              ><sup>a</sup> Study 4 is not included in the current STRENSIQ label.</span
            >
            <span
              ><sup>b</sup> Adolescents in the study were aged 13 to 17 years.</span
            >
            <span
              ><sup>c</sup> Adults in the study were aged ≥18 years and 12 of 13
              had pediatric-onset HPP.</span
            >
          </div>
        </Table>
      </div>
    </div>

    <h2 id="safety">Safety</h2>
    <div class="clinical-data-overview__safety">
      <div class="clinical-data-overview__safety__description">
        <h2>
          STRENSIQ has a well-established safety profile, evidenced by 7 years
          of data
        </h2>
        <p>
          STRENSIQ has been rigorously studied across more than 16 clinical
          trials with at least XX patient-years of data and more than 7 years of
          postmarket experience. Clinical practice guidelines for
          hypophosphatasia are in development for the United States, though none
          are currently available. When considering treatment, clinicians are
          advised to use their clinical judgment based on individual patient
          needs and their evaluation of 7 years of long-term efficacy and safety
          data for STRENSIQ.
        </p>
      </div>
      <div class="clinical-data-overview__safety__table">
        <Table>
          <div slot="title" class="table__title">
            Most frequently reported adverse reactions (≥10% patients)
          </div>
          <TableHeader
            slot="header"
            mainHeaders={mainHeaders}
            subHeaders={subHeaders}
          />
          <TableData slot="body" data={data} />
        </Table>
      </div>
    </div>
  </section>
  <CTA
    heading="Get them off to a solid start"
    linkText="Infants/young children"
    linkUrl="/clinical-data/infants-young-children"
  />
  <References />
</Layout>
